-- This script was generated by the ERD tool in pgAdmin 4.
-- Please log an issue at https://redmine.postgresql.org/projects/pgadmin4/issues/new if you find any bugs, including reproduction steps.
BEGIN;


CREATE TABLE IF NOT EXISTS public.city
(
    city_id integer NOT NULL,
    cityname character varying COLLATE pg_catalog."default",
    CONSTRAINT pk_city PRIMARY KEY (city_id)
);

CREATE TABLE IF NOT EXISTS public.cost_of_living
(
    year integer NOT NULL,
    month integer NOT NULL,
    city_id integer NOT NULL,
    unemployment_rate double precision,
    house_prices_index_value double precision,
    household_expenditure_cpi double precision,
    median_income double precision,
    CONSTRAINT pk_cost_of_living PRIMARY KEY (year, month, city_id)
);

CREATE TABLE IF NOT EXISTS public.crime
(
    year integer NOT NULL,
    month integer NOT NULL,
    city_id integer NOT NULL,
    actual_incidents double precision,
    total_cleared double precision,
    total_persons_charged double precision,
    rate_per_100000_population double precision,
    rate_total_persons_charged_per_100000_population_aged_12_year double precision,
    CONSTRAINT pk_crime PRIMARY KEY (year, month, city_id)
);

CREATE TABLE IF NOT EXISTS public.demographics
(
    year integer NOT NULL,
    month integer NOT NULL,
    city_id integer NOT NULL,
    total_population character varying COLLATE pg_catalog."default",
    population_density_per_sqkm character varying COLLATE pg_catalog."default",
    land_area_in_sqkm character varying COLLATE pg_catalog."default",
    immigration character varying COLLATE pg_catalog."default",
    CONSTRAINT pk_demographics PRIMARY KEY (year, month, city_id)
);

CREATE TABLE IF NOT EXISTS public.employment
(
    year integer NOT NULL,
    month integer NOT NULL,
    city_id integer NOT NULL,
    total_employment double precision,
    goods_producing_sector double precision,
    services_producing_sector double precision,
    public_administration double precision,
    CONSTRAINT pk_employment PRIMARY KEY (year, month, city_id)
);

CREATE TABLE IF NOT EXISTS public.transit
(
    year integer NOT NULL,
    month integer NOT NULL,
    city_id integer NOT NULL,
    time_leaving_for_work character varying COLLATE pg_catalog."default",
    age_group character varying COLLATE pg_catalog."default",
    main_mode_of_commuting character varying COLLATE pg_catalog."default",
    commuting_duration character varying COLLATE pg_catalog."default",
    avg_commuting_count double precision,
    transit_ridership character varying,
    location character varying COLLATE pg_catalog."default",
    road_surface_condition character varying COLLATE pg_catalog."default",
    accident_time time without time zone,
    num_of_vehicle double precision,
    num_of_injuries double precision,
    num_of_minor_injuries character varying COLLATE pg_catalog."default",
    num_of_major_injuries character varying COLLATE pg_catalog."default",
    wheelchair_accessible character varying COLLATE pg_catalog."default",
    bikes_allowed character varying COLLATE pg_catalog."default",
    traffic_disruption character varying COLLATE pg_catalog."default",
    avg_delay_time double precision,
    incident_type character varying COLLATE pg_catalog."default",
    CONSTRAINT pk_transit PRIMARY KEY (year, month, city_id)
);
CREATE TABLE IF NOT EXISTS public.weather
(
    year integer NOT NULL,
    month integer NOT NULL,
    city_id integer NOT NULL,
    max_temperature_v double precision,
    min_temperature_v double precision,
    avg_temp double precision,
    max_wind_speed_v double precision,
    min_wind_speed_v double precision,
    average_wind_speed double precision,
    precipitation_v double precision,
    snow_on_ground_v double precision,
    CONSTRAINT pk_weather PRIMARY KEY (year, month, city_id)
);
END;